@model THUE_CD.Models.Customer

@{
    ViewBag.Title = "IndexCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- MAIN CONTENT-->
<!-- FORM ĐĂNG KÍ KHÁCH HÀNG-->
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">Add customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Xữ lý controller -->
                <form class="mt-5" method="POST" @*asp-controller="" asp-action="addCustomer"*@ id="form">
                    <fieldset id="SubmitForm">
                        @Html.HiddenFor(m => m.Id_Customer, new { @id = "Cus_Id" })
                        <div class="form-group">
                            <label>Full Name</label>
                            @Html.TextBoxFor(m => m.FullName, new { @id = "Cus_Name", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            @Html.TextBoxFor(m => m.Address, new { @id = "Cus_Address", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            @Html.TextBoxFor(m => m.Phone, new { @id = "Cus_Phone", @class = "form-control" })

                        </div>
                        <div class="form-group">
                            <label>Fine</label>
                            @Html.TextBoxFor(m => m.Fine, new { @id = "Cus_Fine", @class = "form-control" })

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
                            <button type="button" class="btn btn-primary" id="SaveCustomerRecord">Confirm</button>
                        </div>
                    </fieldset>

                </form>
            </div>

        </div>
    </div>
</div>
<!-- FORM ĐĂNG KÍ KHÁCH HÀNG-->
<!-- FORM XOA-->
<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Customer Record</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body">
                <h4>Are You Sure? You Want To Delete This Customer?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancle</a>
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
            </div>
        </div>
    </div>
</div>

<!-- FORM LOAD DANH SACH KHACH HANG-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">List Customer</h2>
                        <button class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" onclick="AddNewCustomer()">
                            <i class="zmdi zmdi-plus"></i>add
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <div class="table-responsive table--no-card m-b-40">
                        <table class="table table-borderless table-striped table-earning" id="myDatatable">
                            <thead>
                                <tr>
                                    <th>ID customer</th>
                                    <th>Full Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Fine</th>
                                    <th>Action(Delete)</th>
                                </tr>
                            </thead>
                            <tbody id="SetCustomerList" data-toggle="modal">
                                <tr id="LoadingStatus"></tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Xây dựng phần mềm - Nhóm 5</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--END MAIN CONTENT-->

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>

    $(document).ready(function (evt) {
        var input1 = "";
        $.ajax({
            type: 'GET',
            cache: false,
            url: './GetCustomerList',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ input: input1 }),
            success:
                function DataBind(CusList) {
                    //This Code For Receive All Data From Controller And Show It In Client Side
                    var SetData = $("#SetCustomerList");
                    for (var i = 0; i < CusList.length; i++) {
                        var Data = "<tr class='row_" + CusList[i].Id_Customer + "'>" +
                            "<td onclick='EditCustomerRecord(" + CusList[i].Id_Customer + ")'>" + CusList[i].Id_Customer + "</td>" +
                            "<td onclick='EditCustomerRecord(" + CusList[i].Id_Customer + ")'>" + CusList[i].FullName + "</td>" +
                            "<td onclick='EditCustomerRecord(" + CusList[i].Id_Customer + ")'>" + CusList[i].Address + "</td>" +
                            "<td onclick='EditCustomerRecord(" + CusList[i].Id_Customer + ")'>" + CusList[i].Phone + "</td>" +
                            "<td onclick='EditCustomerRecord(" + CusList[i].Id_Customer + ")'>" + CusList[i].Fine + "</td>" +
                            //"<td onclick='EditCustomerRecord(" + CusList[i].Id_Customer + ")'>" + "<a href='#' class='btn btn-warning'><span class='glyphicon glyphicon-edit'></span></a>" + "</td>" +
                            "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteCustomerRecord(" + CusList[i].Id_Customer + ")'><span class='glyphicon glyphicon-trash'>Delete</span></a>" + "</td>" +
                            "</tr>";
                        SetData.append(Data);
                        $("#LoadingStatus").html(" ");
                    }
                },

            error: function (msg) {

                alert('Không thành công');
            }

        })

    });

    function DeleteCustomerRecord(cusId) {

        alert(cusId);
    }

    //Show The Popup Modal For Add New Customer
    function AddNewCustomer(Id_Customer) {
        $("#form")[0].reset();
        $("#Cus_Id").val(0);
        $("#ModalTitle").html("Add New Customer");
        $("#MyModal").modal();
    }
    //Show The Popup Modal For Edit Customer Record
    function EditCustomerRecord(Id_Customer) {
        $("#ModalTitle").html("Update Customer Record");
        $("#MyModal").modal();

        $.ajax({
            type: "GET",
            url: '/Customer/GetCustomerById?Id_Customer=' + Id_Customer,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#Cus_Id").val(obj.Id_Customer);
                $("#Cus_Name").val(obj.FullName);
                $("#Cus_Address").val(obj.Address);
                $("#Cus_Phone").val(obj.Phone);
                $("#Cus_Fine").val(obj.Fine);
            }
        });
    }
    //Save
    $("#SaveCustomerRecord").click(function () {
        var data = $("#form").serialize();
        $.ajax({
            type: "POST",
            url: "/Customer/SaveCustomerInDatabase",
            data: data,
            success: function () {
                alert("Success!");
                window.location.href = "/Customer/IndexCustomer";
                $("#MyModal").modal("hide");
            }
        })
    })

    var DeleteCustomerRecord = function (Id_Customer) {
        $("#Cus_Id").val(Id_Customer);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var Cus_Id = $("#Cus_Id").val();
        $.ajax({
            type: "POST",
            url: "/Customer/DeleteCustomerRecord?Id_Customer=" + Cus_Id,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + Cus_Id).remove();
            },
            error: function () {

                alert('Không thành công');
            }
        })
    }
</script>


